@import "tailwindcss";

@theme {
  --color-arena-green: #10b981;
  --color-arena-dark: #0a0a0a;
}

:root {
  background-color: #0a0a0a;
  color: white;
  font-family: sans-serif;
}

/* This adds a cool 'outline' effect for big text */
.text-outline {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  color: transparent;
}